<div class="flex justify-between items-center mt-7 py-9 bg-gradient-to-l from-[#EBF3FE] to-[#EBF3FE00] rounded-lg">
    <div>
        <span class="block text-4xl font-extrabold text-[#2C3A93] animate-text-1">অ্যাডভান্স</span>
        <span class="block text-4xl font-extrabold text-[#F79725] leading-relaxed animate-text-2">রুলিং ডিজিটাল</span>
        <span class="block text-4xl font-extrabold text-[#2C3A93] animate-text-3">সিস্টেম</span>
        <p class="mt-7  lg:max-w-[540px] text-[#41596B] animate-text-3">অংশ অংশভাক আঁইশ ইঁড়েপা ঈক্ষণ ঈদৃক অংশভাগী জওয়ান অংশাঙ্কিত
            ইউক্যালিপটাস অংশাবতার হালহদিশ পিতৃতর্পণ টকানো ঈক্ষিত জগজ্জন
            তকতনামা আঁকুবাঁকু পঁইছা জগঝপ্প পঁহুছা দ্রাবিড়ী আঁকুড়ি ঈদৃক জগদম্বা টঙ্ক অংশিন্‌ জগদ্গৌরী আঁচা তকরার
            তিলপিটালি</p>
    </div>
    <div class="hidden lg:block ml-20">
        <img src="../../../../assets/img/export-import.png" alt="Logo" class="h-56 mr-20 animate-image">
    </div>
</div>
<div class="grid grid-cols-7 gap-4">
    <div class="col-span-7 lg:col-span-5 max-w-[90%] mt-5">
        <h2 class="text-[#464A53] text-2xl mb-2">অ্যাডভান্স রুলিং</h2>
        <hr />
        <p class="text-[#6A707E] mt-5">কাস্টমস আধুনিকীকরণ কর্মসূচীর অংশ হিসেবে জাতীয় রাজস্ব বোর্ড বাংলাদেশে অগ্রিম রুলিং
            পদ্ধতি চালু করেছে। বর্তমানে পণ্যের শ্রেণীবিন্যাসের জন্য এই সুবিধা বিদ্যমান রয়েছে। ২০১৬ সালের জুন মাসের ০২
            তারিখে কাস্টমস রুলিং (অগ্রিম) বিধিমালা, ২০১৬ জারীর পর মাধ্যমে এই পদ্ধতি চালু করা হয়েছে। ডান পার্শে রক্ষিত
            মেন্যূর ডাউনলোডযোগ্য (downloadable) লিংক-এ ক্লিক করে বিধিমালাটি ডাউনলোড করা যেতে পারে।
            একটি নির্দিষ্ট পণ্য কোন্ এইচ, এস, কোডে শ্রেণিবিন্যাসিত হবে, তা আগেই অবহিত হওয়ার জন্য সংশ্লিষ্ট ব্যবসায়ী
            অগ্রিম রুলিং এর আবেদন করতে পারেন। আমদানি ও রপ্তানির ক্ষেত্রে কোনো পণ্যকে কিভাবে শ্রেণিবিন্যাসের জন্য বিবেচনা
            করা হবে (তথা কোন্ এইচ,এস, কোড এ বিবেচনা করা হবে) সে বিষয়ে অগ্রিম রুলিং আমদানিকারক এবং রপ্তানিকারকদের
            নিশ্চয়তা (certainty) দিয়ে থাকে। এইরুপ আগাম নিশ্চয়তা ব্যবসায় পরিকল্পনায় ট্যারিফ ব্যায়ের অন্তর্ভূক্তিসহ
            যুক্তিসংগত ব্যবসায় পরিকল্পনা প্রণয়ণে ব্যবসায়ীমহলকে সহায়তা করে।</p>
    </div>
    <div class="col-span-7 lg:col-span-2 max-w-[90%] mt-14">
        <h2 class="text-[#464A53] text-lg mb-2">ফর্ম ডাউনলোড</h2>
        <hr />
        <div *ngFor="let item of list">
            <div class="flex items-start gap-3 text-[#41596B] text-sm mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zm5.845 17.03a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V12a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3z"
                        clip-rule="evenodd" />
                    <path
                        d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
                </svg>
                <a routerLink="/" class="link-underline link-underline-orange pb-2 hover:text-[#F79725] transition duration-300">{{ item?.name }}</a>
            </div>
        </div>
    </div>
</div>